node_modules
.env
iam-support-local-dev
app/client/public/js/dev
app/client/public/js/dist
app/client/public/css
migration/data
gc-itis-iam-writer-key.json
gc-itis-iam-reader-key.json
.DS_Store
secrets
