[hidden] {
    display: none !important;
}
.u-align--auto {
  margin: 0 auto !important;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}
.category-brand__background-light-gold {
  background-color: #fff9e6;
}
.category-brand__background-light-blue {
  background-color: #ebf3fa;
}
.background-transparent {
  background-color: transparent !important;
}
.border--gold {
  border-color: #ffbf00;
}
.border {
  border-width: 1px;
  border-style: solid;
}
.form-single-col {
  max-width: 500px;
  margin: auto;
}
.pointer {
  cursor: pointer;
}
input[disabled] {
  background-color: #f3f0f0;
  color: #545454;
}
.fw-light {
  font-weight: 400;
}
.fw-bold {
  font-weight: 700;
}
ucdlib-iam-onboarding-list .ob-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #cce0f3;
}
ucdlib-iam-onboarding-list .ob-row:first-child {
  padding-top: 0;
}
ucdlib-iam-onboarding-list .ob-name {
  flex-grow: 1;
}
ucdlib-iam-onboarding-list .ob-status {
  font-weight: 700;
  color: #022851;
  text-align: right;
}
@media (max-width: 600px){
  ucdlib-iam-onboarding-list .ob-name {
    width: 100%;
  }
  ucdlib-iam-onboarding-list .ob-row {
    flex-wrap: wrap;
  }
}
ucdlib-iam-onboarding-list .no-results {
  display: flex;
  align-items: center;
}

ucdlib-iam-separation-list .sp-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #cce0f3;
}
ucdlib-iam-separation-list .sp-row:first-child {
  padding-top: 0;
}
ucdlib-iam-separation-list .sp-name {
  flex-grow: 1;
}
ucdlib-iam-separation-list .sp-status {
  font-weight: 700;
  color: #022851;
  text-align: right;
}
@media (max-width: 600px){
  ucdlib-iam-separation-list .sp-name {
    width: 100%;
  }
  ucdlib-iam-separation-list .sp-row {
    flex-wrap: wrap;
  }
}
ucdlib-iam-separation-list .no-results {
  display: flex;
  align-items: center;
}

.focal-link__icon--xs {
  width: 1rem;
  font-size: .5rem;
  height: 1rem;
  margin-right: .5rem;
}
.rt-history-created {
  font-size: .75rem;
}
.rt-history-text {
  font-weight: 700;
  font-size: .9rem;
  color: #022851;
}
.panel--icon .icon::before {
  color: var(--panel-icon-color, #73abdd);
}
.field-row {
  border-bottom: 1px dotted #ffd24c;
}
.field-row > .l-first {
  align-items: center;
  display: flex;
}
.field-row > .l-first > div:first-child {
  display: flex;
  align-items: center;
}
.field-row > .l-first label {
  font-size: 1.2rem;
  padding-bottom: 0;
  margin-right: .25rem;
}
.field-row > .l-first .help-icon {
  cursor: pointer;
  color: #022851;
}
.field-row > div {
  padding: .75rem 0;
}
.update-list-header {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.update-list {
  max-width: 600px;
  width: 100%;
}
.update-list-name {
  flex-grow: 1;
  margin-right: 1rem;
  padding-left: 1rem;
}
.update-list-date {
  width: 100px;
  min-width: 100px;
  text-align: right;
  padding-right: 1rem;
}
.update-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed #cce0f3;
  padding: .5rem 0;
  text-decoration: none;
  color: #022851;

  &:hover {
    text-decoration: none;
    background-color:#fff4d2;
    color: #022851;
  }
}
.panel__title.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ucdlib-employee-search {
  max-width: 500px;
  margin: auto;
  display: block;

  .emp-search-top.field-container {
    margin-bottom: 0;
  }

  .emp-search-bar {
    position: relative;

    input {
      flex-grow: 1;
      padding-right: 2rem;
    }
    .emp-search-icon {
      position: absolute;
      width: 2.5rem;
      min-width: 2.5rem;
      height: 2.5rem;
      min-height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      top: 0;
      color: #022851;
    }
  }
  .emp-search-results-parent {
    position: relative;
  }
  .emp-search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fffbed;
    border-right: 1px solid #ffbf00;
    border-left: 1px solid #ffbf00;
    border-bottom: 1px solid #ffbf00;
    color: #13639e;
    max-height: 250px;
    overflow-y: scroll;

    .emp-search-result {
      padding: .5rem .75rem;
    }
    .emp-search-result:hover {
      background-color: #fde9ac;
    }

    .highlight {
      font-weight: 700;
    }
    .muted {
      font-weight: 400;
      color: #545454;
    }
    .emp-search-more {
      padding: .5rem .75rem;
    }
  }
}
.marketing-highlight__image .unskew {
  transform: skewX(15deg)
}
.border-box {
  box-sizing: border-box !important;
}
.box {
  padding: 5px;
  display: table-cell;
  width:50%;
}

.box-row{
  border-bottom: 1px solid #00b2e3;
  width:100%;
  display:table;
}
.checkbox-detail {
  padding-left: 2.2rem;
  font-weight: 400;
  color: #545454;
  font-size: .75rem;
}
.discrepancyList {
  background-color: #ebf3fa;
  padding: .75rem;
  color: #022851;

}

.discrepancyItem {
  padding: .75rem;

}

.discrepancyItem:hover {
  background-color: #cce0f3;
  color: #022851;
  cursor: pointer;
}

.discrepancyItem.active{
  background-color: #cce0f3;
  color: #022851;
}

.discrepancyItem:hover h6 {
  color: #022851;
}

.discrepancyItem.active h6 {
  color: #022851;
}

.discrepancyItem.no-hover:hover {
  background-color: inherit;
  cursor: default;
}



@media (max-width: 767px) {
  .u-width--100-in-tablet {
    width: 100% !important;
  }
}
