[hidden] {
    display: none !important;
}
.u-align--auto {
  margin: 0 auto !important;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}
.category-brand__background-light-gold {
  background-color: #fff9e6;
}
.category-brand__background-light-blue {
  background-color: #ebf3fa;
}
.background-transparent {
  background-color: transparent !important;
}
.border--gold {
  border-color: #ffbf00;
}
.border {
  border-width: 1px;
  border-style: solid;
}
.form-single-col {
  max-width: 500px;
  margin: auto;
}
.pointer {
  cursor: pointer;
}
input[disabled] {
  background-color: #f3f0f0;
  color: #545454;
}
.fw-light {
  font-weight: 400;
}
.fw-bold {
  font-weight: 700;
}

.focal-link__icon--xs {
  width: 1rem;
  font-size: .5rem;
  height: 1rem;
  margin-right: .5rem;
}
.rt-history-created {
  font-size: .75rem;
}
.rt-history-text {
  font-weight: 700;
  font-size: .9rem;
  color: #022851;
}
.panel--icon .icon::before {
  color: var(--panel-icon-color, #73abdd);
}
.field-row {
  border-bottom: 1px dotted #ffd24c;
}
.field-row > .l-first {
  align-items: center;
  display: flex;
}
.field-row > .l-first > div:first-child {
  display: flex;
  align-items: center;
}
.field-row > .l-first label {
  font-size: 1.2rem;
  padding-bottom: 0;
  margin-right: .25rem;
}
.field-row > .l-first .help-icon {
  cursor: pointer;
  color: #022851;
}
.field-row > div {
  padding: .75rem 0;
}
.panel__title.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marketing-highlight__image .unskew {
  transform: skewX(15deg)
}
.border-box {
  box-sizing: border-box !important;
}
.box {
  padding: 5px;
  display: table-cell;
  width:50%;
}

.box-row{
  border-bottom: 1px solid #00b2e3;
  width:100%;
  display:table;
}
.checkbox-detail {
  padding-left: 2.2rem;
  font-weight: 400;
  color: #545454;
  font-size: .75rem;
}

@media (max-width: 767px) {
  .u-width--100-in-tablet {
    width: 100% !important;
  }
}
